@charset "utf-8";

/* MAIN STUFF */
* {
    margin: 0;
    padding: 0;
}
:root {
    --font: "Roboto";
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #EAE5FF;
    background: #16171D;
}

/* DOCUMENT BODY */
.topheader {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 175px;
    padding: 7px 0;
    margin-bottom: 15px;
    border-bottom: 3px solid #4d2c91;
    color: #EAE5FF;
    font-size: 280%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.title {
    margin-left: 30px;
    margin-top: 125px;
    text-shadow: 1px 1px 2px black;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.section {
    width: 778px;
    margin-bottom: 15px;
    padding: 10px;
    background: #101014;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
.section-header {
    margin-bottom: 15px;
    font-size: 100%;
    font-weight: 500;
}

.subsection {
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.subsection:last-child {
    margin-bottom: 0;
}
.subsection-header {
    width: 100px;
    font-size: 120%;
}
.subsection-content {
    width: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.subsection-header-small {
    width: 125px;
    font-size: 120%;
    font-weight: 400;
}
.subsection-content-small {
    width: 264px;
    text-align: center
}
.subsection-footer {
    width: 90px;
}
.subsection select{
    appearance: none;
    border: 0;
    background: #2E313D;
    color: #EAE5FF;
    height: 25px;
    padding-left: 10px;;
    border-radius: 3px;;
}

.subsection select:selection{
    background: #434354;
}

.subsection-footer input[type=button]{
    border-width: 0;
    outline: none;
    background-color: #4d2c91;
    color: #EAE5FF;
    font-weight:200;
    align-content: center;
    border-radius: 2px;
    transition: 0.3s opacity;
}

.subsection-footer input[type=button]:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.subsection-container {
    display: flex;
    align-items: center;
    background: #16171D;
}
.subsection-container:nth-child(2n) {
    background: #101014;;
}
.subcontent-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 35px;
}
.vf-text {
    min-width: 85px;
}
.vf-text:hover {
    color: transparent;
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    color: #EAE5FF;
}
.vf-text:hover .tooltip-text {
    visibility: visible;
}
.tab-container {
    display: flex;
}
.tab-head {
    background: #101014;
    color: #918E9E;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-right: 3px;
}
.active-tab {
    background: #434354;
    color:#EAE5FF;
}
.single-subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    /*font-size: 120%;*/
}
.single-subheader>img {
    height: 20px;
}
.flex-cell {
    display: flex;
    align-items: center;
}
.flex-cell-head {
    margin-left: 10px;
}
.flex-cell-content {
    width: 2em;
    text-align: right;
}

/* TABLE STUFF */
table {
    width: 100%;
    border-spacing: 0;
    font-size: 80%;
}
th {
    padding: 10px 0;
    min-width: 57px;
    background: #101014;
}
th:hover {
    background: #434354;
}
th.normal-sort::after {
    content: ' ▲';
}
th.reverse-sort::after {
    content: ' ▼';
}
tr:nth-child(2n) {
    background: #16171D;
}
tr:nth-child(2n+1) {
    background: #101014;
}
tr:hover {
    background: #434354;
}
td {
    height: 40px;
    padding: 0 6px;
    text-align: center;
}
td.column-song_name {
    text-align: left;
    text-indent: 5px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
td.column-diff img{
    height:20px;
}
td .cell-sub {
    font-size: 70%;
    color: #ABF0D1;
}
td.column-score {
    text-align: right;
}
.table-footer {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}
#entry_num {
    display: inline-block;
}

/* INPUT FORMS */


input[type="checkbox"] {
    margin-right: 5px;
}

/*filter icons*/

.icon input[type="checkbox"] {
    display:none;
}

.icon img{
    vertical-align: middle;
}

.icon input:checked + label{
    opacity:1;
    transition: 0.3s opacity;
}

.icon input:not(:checked) + label{
    opacity:0.5;
    transition: 0.3s opacity;
}

input[type="button"] {
    border-width: 0;
    width: 90px;
    padding: 5px;
    font-family: var(--font);
    font-size: initial;
    text-align: center;
    background-color: #4d2c91;
    color: #EAE5FF;
    font-weight:200;
    outline: none;
    border-radius: 2px;
    transition: 0.3s opacity;
}
input[type="button"]:hover {
    opacity: 0.8;
    transition: 0.3s;
}

label {
    margin-right: 20px;
    
    line-height: 2;
}
select {
    width: 200px;
    font-family: var(--font);
}

/* MISC STUFF */
img {
    height: 30px;
}

#section_stats {
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.center-text {
    text-align: center;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hide-content::after {
    font-size: 50%;
    content: ' ▲';
}
.show-content::after {
    font-size: 50%;
    content: ' ▼';
}
.w-200px {
    width: 200px;
}
.w-300px {
    width: 300px;
}
.volforce {
    font-size: 70%;
}
.volforce img {
    height: 15px;
    margin-left: 5px;
}
.volforce.table-footer {
    font-size: 120%;
    margin-top: 7px;
}
