@charset "utf-8";

/* MAIN STUFF */
* {
    margin: 0;
    padding: 0;
}
:root {
    --font: "Roboto", sans-serif;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #EAE5FF;
    background: #16171D;
    overflow-y: scroll;
}
a {
    font-size: 50%;
    font-weight: bold;
    text-decoration: none;
    color: #EAE5FF;
    transition: 0.3s all;
}
a:hover {
    letter-spacing: 0.05em;
    color: #4d2c91;
}

/* DOCUMENT BODY */
.topheader {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 175px;
    padding: 7px 0;
    margin-bottom: 15px;
    border-bottom: 3px solid #4d2c91;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #EAE5FF;
    font-size: 280%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.title {
    margin: 0 30px;
    text-shadow: 1px 1px 2px black;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.section {
    width: 778px;
    margin-bottom: 15px;
    padding: 10px;
    background: #101014;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
.section-header {
    margin-bottom: 15px;
    font-size: 100%;
    font-weight: 500;
}

.subsection {
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.subsection:last-child {
    margin-bottom: 0;
}
.subsection-header {
    width: 100px;
    font-size: 120%;
}
.subsection-content {
    width: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.subsection-header-small {
    width: 125px;
    font-size: 120%;
    font-weight: 400;
}
.subsection-content-small {
    width: 264px;
    text-align: center
}
.subsection-footer {
    width: 90px;
}
.subsection select{
    appearance: none;
    border: 0;
    background: #2E313D;
    color: #EAE5FF;
    height: 25px;
    padding-left: 10px;;
    border-radius: 3px;;
}

.subsection select::selection{
    background: #434354;
}

.subsection-footer input[type=button]{
    border-width: 0;
    outline: none;
    background-color: #4d2c91;
    color: #EAE5FF;
    font-weight:200;
    align-content: center;
    border-radius: 2px;
    transition: 0.3s opacity;
}

.subsection-footer input[type=button]:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.subsection-container {
    display: flex;
    align-items: center;
    background: #16171D;
}
.subsection-container:nth-child(2n) {
    background: #101014;;
}
.subcontent-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 35px;
}
.vf-text {
    min-width: 85px;
}
.vf-text:hover {
    color: transparent;
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    color: #EAE5FF;
}
.vf-text:hover .tooltip-text {
    visibility: visible;
}
.tab-container {
    display: flex;
}
.tab-head {
    background: #101014;
    color: #918E9E;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-right: 3px;
}
.active-tab {
    background: #434354;
    color:#EAE5FF;
}
.single-subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    /*font-size: 120%;*/
}
.single-subheader>img {
    height: 20px;
}
.flex-cell {
    display: flex;
    align-items: center;
}
.flex-cell-head {
    margin-left: 10px;
}
.flex-cell-content {
    width: 2em;
    text-align: right;
}

/* TABLE STUFF */
table {
    width: 100%;
    border-spacing: 0;
    font-size: 80%;
}
th {
    padding: 10px 0;
    min-width: 57px;
    background: #101014;
}
th:hover {
    background: #434354;
}
th.normal-sort::after {
    content: ' ▲';
}
th.reverse-sort::after {
    content: ' ▼';
}
th.special-sort::after {
    content: ' △';
}
th.special-reverse-sort::after {
    content: ' ▽';
}
tr.even {
    background: #16171D;
}
tr.odd {
    background: #101014;
}
tr:hover {
    background: #434354;
}
td {
    height: 40px;
    padding: 0 6px;
    text-align: center;
}
td.column-song_name {
    text-align: left;
    text-indent: 5px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
td.column-diff img{
    height:20px;
}
td .cell-sub {
    font-size: 70%;
    color: #ABF0D1;
}
td.column-score {
    text-align: right;
}
td.column-rival_score {
    text-align: right;
}
td .cell-pos {
    font-size: 70%;
    color: #ABF0D1;
}
td .cell-neg {
    font-size: 70%;
    color: #FA8C80;
}
td .cell-zer {
    font-size: 70%;
    color: #CDCDCD;
}

.table-footer {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}
#entry_num {
    display: inline-block;
}

/* INPUT FORMS */


input[type="checkbox"] {
    margin-right: 5px;
}

/*filter icons*/

.icon input[type="checkbox"] {
    display: none;
}
input[type="radio"] {
    display: none;
}

.icon img{
    vertical-align: middle;
}

.icon input:checked + label{
    opacity: 1;
    transition: 0.3s opacity,filter;
}

.icon input:not(:checked) + label{
    opacity: 0.5;
    filter: grayscale(1);
    transition: 0.3s opacity,filter;
}

input[type="button"] {
    border-width: 0;
    width: 90px;
    padding: 5px;
    font-family: var(--font);
    font-size: initial;
    text-align: center;
    background-color: #4d2c91;
    color: #EAE5FF;
    font-weight:200;
    outline: none;
    border-radius: 2px;
    transition: 0.3s opacity;
    flex-shrink: 0;
}
input[type="button"]:hover {
    background-color: #361f66;
    transition: 0.3s;
}

label:not(.sort-button) {
    margin-right: 20px;
    line-height: 2;
}
input[type="button"], label {
    cursor: pointer;
}
select {
    width: 200px;
    font-family: var(--font);
}

/* For leaderboards */
.sort-button {
    width: 100px;
    border-radius: 10px;
    margin: 0 5px;
    padding: 10px;
    background-color: #17171c;
    transition: 0.3s background-color;
    text-align: center;
    cursor: pointer;
}
.sort-button:hover {
    background-color: #361f66;
    transition: none;
}
input[type="radio"]:checked + .sort-button {
    background-color: #4d2c91;
    transition: 0.3s background-color;
}
.entry {
    height: 50px;
    padding: 5px 13px;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: #17171c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.3s background-color;
    cursor: pointer;
}
.entry.active {
    background-color: dodgerBlue;
    transition: none;
}
.entry:hover {
    background-color: #361f66;
    transition: none;
}
.entry:last-child {
    margin-bottom: 0;
}
.entry-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.entry>img {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
}
.song-title {
    font-size: 15pt;
    transform-origin: left;
}
.song-artist {
    font-size: 9pt;
    transform-origin: left;
}
.category-name {
    font-size: 24pt;
}
.diff-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.score-entry.header {
    height: unset;
    background-color: unset;
}
.score-entry.header:hover {
    background-color: unset;
}
.score-entry {
    height: 50px;
    padding: 5px 13px;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: #17171c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s background-color;
}
.score-entry:hover {
    background-color: #361f66;
    transition: none;
}
.score-entry>div {
    font-size: 18pt;
    text-align: center;
}
.score-entry>div:nth-child(1) {
    width: 50px;
}
.score-entry>div:nth-child(2) {
    width: 200px;
}
.score-entry>div:nth-child(3) {
    width: 200px;
}
.score-entry>div:nth-child(4) {
    width: 35px;
    display: flex;
    align-items: center;
    transform: translateX(-50px);
}
.score-entry>div:nth-child(5) {
    width: 150px;
}
.score-entry:not(.header)>div:nth-child(5) {
    width: 150px;
    font-size: 12pt;
}
.no-score {
    padding: 15px 0;
    text-align: center;
}
#navigator {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    margin-left: 20px;
    transform-origin: left;
}
.navigation > div:not(:last-child):after {
    content: "»";
    margin: 0 10px;
}
.navigation > div, .entry > div {
    transform-origin: left;
    white-space: nowrap;
}
.navigation > div {
    display: flex;
    cursor: pointer;
    transition: 0.3s opacity;
}
.navigation > div:hover {
    opacity: 0.5;
}
.navigation > div > img:not(:first-child) {
    margin-left: 5px;
}
.navigation img {
    margin-right: 5px;
    height: 22px;
}
.pagination {
    display: flex;
    justify-content: space-between;
}
.pagination-button {
    width: 325px;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
    background-color: #4d2c91;
    transition: 0.3s background-color;
    cursor: pointer;
}
.pagination-button:hover {
    background-color: #361f66;
    transition: none;
}
.pagination-button.disabled, input[type="button"].disabled {
    background-color: #282828;
    cursor: unset;
}
.pagination-number {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-number>* {
    margin: 0 5px;
}
.search-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
.overlay-capture {
    position: absolute;
    width: 100%;
    height: 100%;
}
.search-box {
    padding: 10px;
    border-radius: 7px;
    background-color: #17171c;
    box-shadow: 0 0 15px #555;
    z-index: 2;
}
#songSearch {
    width: 500px;
    height: 30px;
    text-align: unset;
}
input[type="text"] {
    width: 25px;
    padding: 5px;
    background-color: #f1f1f1;
    border: none;
    text-align: center;
}
.search-results {
    width: 510px;
    max-height: 40vh;
    position: absolute;
    overflow-y: scroll;
}
.search-result {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #17171c;
    box-sizing: border-box;
    border-bottom: 1px solid #37373c;
    transition: 0.3s background-color;
}
.search-result:hover {
    background-color: #37373c;
    transition: none;
}
.search-result.active {
    background-color: dodgerBlue;
    transition: none;
}
.search-result:last-of-type {
    border-bottom: 0;
}
.search-result>div {
    margin-left: 5px;
    white-space: nowrap;
    transform-origin: left;
    cursor: pointer;
}
.search-result>div:nth-child(2) {
    font-size: 7pt;
}
.search-result>img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}
.default-scroll {
    overflow-y: scroll;
}
.no-scroll {
}
.blur {
    filter: blur(5px);
    transition: 0.3s filter;
}


/* MISC STUFF */
.separator-s {
    margin-left: 10px;
    margin-right: 10px;
}

img {
    height: 30px;
}

#section_stats {
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.center-text {
    text-align: center;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hide-content::after {
    font-size: 50%;
    content: ' ▲';
}
.show-content::after {
    font-size: 50%;
    content: ' ▼';
}
.w-200px {
    width: 200px;
}
.w-300px {
    width: 300px;
}
.volforce {
    font-size: 70%;
}
.volforce img {
    height: 15px;
    margin-left: 5px;
}
.volforce.table-footer {
    font-size: 120%;
    margin-top: 7px;
}